*{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", serif;
  background-color: #f1f2ec;
}
code {
  font-family: source-code-pro,Menlo, monospace,'Courier New', Courier, monospace;
}